@font-face {
    font-family: 'Comfortaa';
    src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap') format('woff2');
}
@font-face {
    font-family: 'Barlow';
    src: url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Comfortaa:wght@300..700&display=swap');
}
.weather-wrapper{
    
    margin-top: 16px;
    padding: 8px;
    width: 300px;

    
    border-radius: 24px;
    
    background: #95adbe;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #574f7d, #95adbe);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #574f7d, #85a0b5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    font-family: 'Comfortaa', sans-serif;
}
.weather-wrapper__mainInfo{
    display: flex;
    justify-content: space-between;
    
    padding: 8px;

    /* border: 1px solid black; */
    border-radius: 16px;
    
}
.weather-wrapper__otherInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px;
    /* border: 1px solid black; */
    border-radius: 16px;
}
/* .weather-wrapper__mainInfo__name,
.weather-wrapper__mainInfo__temp{
    border: 1px solid black;
} */
.weather-wrapper__mainInfo__temp{
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 45px;
}