body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #574f7d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #95adbe, #574f7d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #95adbe, #574f7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}